:root {
    --black-coffee: hsla(320, 18%, 20%, 1);
    --independence: hsla(253, 19%, 40%, 1);
    --glaucous: hsla(225, 36%, 67%, 1);
    --royal-blue-light: hsla(235, 59%, 84%, 1);
    --mint-cream: hsla(160, 8%, 89%, 1);
}

* {

    font-family: 微軟正黑體;
    font-weight: bold;
    
}



html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--royal-blue-light);
    box-sizing: border-box;
}

.joinOuterContainer {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--mint-cream);
    border-radius: 20px;
    color: var(--independence);
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.heading {
    font-size: 60px;

}

.heading::after {
    content: '';
    background: var(--glaucous);
    width: 200px;
    height: 200px;
}

.joinInnerContainer {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.joinInput {
    margin: 10px;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-left: 20px;

}

.button {
    margin-top: 20px;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background: var(--glaucous);
    box-shadow: 3px 3px 10px var(--independence);

}

.button:hover {
    cursor: pointer;
}